:root {

  /* shadow */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  /* rounded */
  --rounded-full  : 9999px;
  --rounded-xl    : 0.75rem;
  --rounded-lg    : 0.5rem;
  --rounded-md    : 0.375rem;
}

*, ::before, ::after {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shadow {
  box-shadow: var(--shadow);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

.rounded-xl {
  border-radius: var(--rounded-xl);
}

.rounded-lg {
  border-radius: var(--rounded-lg);
}

.rounded-md {
  border-radius: var(--rounded-md);
}
